{% extends 'base.html' %}
{% block content %}
<h1 class="mt-4">Accounting Software</h1>
                    <p>Accounting software is an integrated system and a set of apps for managing and processing financial data. Accounting Software is based on streamlining accounting functions of managing financial statements, inventory management, expense tracking, online payments, accounts payable, and accounts receivable.</p>
                        {% load static %}
                        <img src="{% static 'images/hello.webp' %}" alt="Your Image Description" width="100%">
                    
                    <br>
                    <p>These applications are used by expert accountants and bookkeeping teams to manage accounts and automate routine tasks. Some of the accounting software helps to collect accounting data, measure indicators, and report on the financial activity of the organization. It can also be used by creating a dashboard to get insights from financial data. As per the custom needs, financial software development can also be favorable in many instances. Accounting software has multiple variants which are classified below according to different ecosystem needs like commercial or enterprise or customized.</p>
                    {% load static %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- Bootstrap-datepicker JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

{% endblock %}
