.container {
    max-width: 835px;
    margin: 45px auto;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid black;
    background-color: ivory;
}
.SI {
    padding-left: 15px;
    padding-right: 10px;
    padding-block: 10px;
}

.Particular {
    padding-left: 22px;
    padding-right: 25px;
    padding-block: 10px;
}

.bal {
    text-align: center;
    padding-right: 30px;
    padding-left: 26px;
    padding-block: 10px;
}
#startdate{
    width: 300px;
}
#enddate{
    width: 300px;
}